<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools" android:versionCode="1" android:versionName="1.0" package="zone.dhillon.googlecontacts">
	<uses-sdk android:minSdkVersion="15" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="GoogleContacts" android:icon="@drawable/ic_launcher" android:theme="@style/MyTheme">
		<!-- Callback from authentication screen -->
		<activity android:name="net.openid.appauth.RedirectUriReceiverActivity" tools:node="replace">
			<!-- Filter which captures custom scheme based redirects for Google authorization requests. -->
			<intent-filters>
				<action android:name="android.intent.action.VIEW" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.BROWSABLE" />
				<data android:scheme="@string/google_auth_redirect_scheme" />
			</intent-filters>
		</activity>
	</application>
</manifest>